/* reset */
$min-width: 320px; 
$max-width: 1545px; 
$base-bg: #F9FAFB; 
$base-font-size: 18px; 
$base-line-height: 22px; 
$base-font-family: ProximaNova, sans-serif; 
$custom-font-family: ProximaNova, sans-serif; 
$link-color: #fff;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #29475B;
$title-color: #29475B;
$title-font-family: $custom-font-family;

$font-size-h1: 35px;
$line-height-h1: 39px;
$font-size-h2: 35px;
$line-height-h2: 35px;
$font-size-h3: 35px;
$line-height-h3: 39px;